<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Journal Home</title>
        <link href="/static/style.css" rel="stylesheet" type="text/css">
 </head>
 <body>
    <h1>Dev-Accelerator Learning Journal</h1>
    <div id="menu">
        <ul>
            <li class="selected"><a href="{{ request.route_url('add') }}">Home</a></li>
            <li><a href="latest.html">View Latest Entry</a></li>
            <li><a href="{{ request.route_url('add') }}">Create New Entry</a></li>
            {% if not request.authenticated_userid %}
            <li><a href="{{ request.route_url('login') }}">Log In</a></li>
            {% else %}
            <li><a href="{{ request.route_url('logout') }}">Log Out</a></li>
            {% endif %}
        </ul>
    </div>

    <main>
                <section id="content">
                {% block body %}{% endblock %}
                </section>
            </main>

 </body>
</html>
