{% extends "base.jinja2" %}
{% block body %}
    <div id="menu">
        <ul>
            <li class="selected"><a href="{{ request.route_url('home') }}">Home</a></li>
            {% if not request.authenticated_userid %}
            <li><a href="{{ request.route_url('login') }}">Create New Entry</a></li>
            <li><a href="{{ request.route_url('login') }}">Log In</a></li>
            {% else %}
            <li><a href="{{ request.route_url('newpost') }}">Create New Entry</a></li>
            <li><a href="{{ request.route_url('logout') }}">Log Out</a></li>
            {% endif %}
        </ul>
    </div>
    {% for entry in entries %}
    <article class="entry" id="entry={{entryid}}">
        <h3>{{ entry.title }}</h3>
        <p class="dateline">{{ entry.date.strftime('%b. %d, %Y') }}</p>
        <div class="entry_body">
            {{ entry.text|safe }}
        </div>
    </article>
    {% else %}
    <div class="entry">
        <p><em>No entries here so far</em></p>
    </div>
    {% endfor %}
{% endblock %}